---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MjAwMzczLCJqdGkiOiIzMDFiOTNkOC1kNzk2LTQ5NzctYTI1Yi0wNzAyZTU2NWI2Y2YiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.icqnlnaApTF6Y5vetl2aiDTWBVg5PPnUZwfB1l0nPB8",
          "token_type" : "bearer",
          "expires_in" : 998,
          "scope" : "api",
          "jti" : "301b93d8-d796-4977-a25b-0702e565b6cf"
        }
  recorded_at: Fri, 19 May 2017 13:09:16 GMT
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MjAwMzczLCJqdGkiOiIzMDFiOTNkOC1kNzk2LTQ5NzctYTI1Yi0wNzAyZTU2NWI2Y2YiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.icqnlnaApTF6Y5vetl2aiDTWBVg5PPnUZwfB1l0nPB8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03236d64c4bd2f7baf4c43a327251afbb"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1"
            },
            "https://api.slimpay.net/alps#post-token" : {
              "href" : "https://api-sandbox.slimpay.net/oauth/token"
            },
            "https://api.slimpay.net/alps#create-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders"
            },
            "https://api.slimpay.net/alps#get-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,reference}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-order-by-id" : {
              "href" : "https://api-sandbox.slimpay.net/orders/{id}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
              "templated" : true
            },
            "h[...]
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/direct-debits
    body:
      encoding: UTF-8
      string: '{"creditor":{"reference":"democreditor"},"mandate":{"reference":"SLMP003441095"},"amount":10,"currency":"EUR","label":"Foo"}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MjAwMzczLCJqdGkiOiIzMDFiOTNkOC1kNzk2LTQ5NzctYTI1Yi0wNzAyZTU2NWI2Y2YiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.icqnlnaApTF6Y5vetl2aiDTWBVg5PPnUZwfB1l0nPB8
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Location:
      - https://api-sandbox.slimpay.net/direct-debits/69159d88-3c94-11e7-9800-000000000000
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/direct-debits/69159d88-3c94-11e7-9800-000000000000"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1[...]
