---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTkzNjYxLCJqdGkiOiJkNWFmMTY3MS0xYTk4LTRlNjMtYTVlMC00N2EzYjI0NGJiYmMiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.lIManLBBDvZDN_AsCuCu3RcKphUNMFGrLa0SgzfGiek",
          "token_type" : "bearer",
          "expires_in" : 998,
          "scope" : "api",
          "jti" : "d5af1671-1a98-4e63-a5e0-47a3b244bbbc"
        }
  recorded_at: Fri, 19 May 2017 11:17:25 GMT
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTkzNjYxLCJqdGkiOiJkNWFmMTY3MS0xYTk4LTRlNjMtYTVlMC00N2EzYjI0NGJiYmMiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.lIManLBBDvZDN_AsCuCu3RcKphUNMFGrLa0SgzfGiek
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03236d64c4bd2f7baf4c43a327251afbb"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1"
            },
            "https://api.slimpay.net/alps#post-token" : {
              "href" : "https://api-sandbox.slimpay.net/oauth/token"
            },
            "https://api.slimpay.net/alps#create-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders"
            },
            "https://api.slimpay.net/alps#get-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,reference}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-order-by-id" : {
              "href" : "https://api-sandbox.slimpay.net/orders/{id}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
              "templated" : true
            },
            "h[...]
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/orders?creditorReference=democreditor&reference=84ca416e-3c7f-11e7-9800-000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTkzNjYxLCJqdGkiOiJkNWFmMTY3MS0xYTk4LTRlNjMtYTVlMC00N2EzYjI0NGJiYmMiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.lIManLBBDvZDN_AsCuCu3RcKphUNMFGrLa0SgzfGiek
      Content-Type:
[...]
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/mandates/a4ed0873-3c7f-11e7-b26a-000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTkzNjYxLCJqdGkiOiJkNWFmMTY3MS0xYTk4LTRlNjMtYTVlMC00N2EzYjI0NGJiYmMiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.lIManLBBDvZDN_AsCuCu3RcKphUNMFGrLa0SgzfGiek
      Content-Type:
      - application/json
  response:
  [...]
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/mandates/a4ed0873-3c7f-11e7-b26a-000000000000/bank-account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTkzNjYxLCJqdGkiOiJkNWFmMTY3MS0xYTk4LTRlNjMtYTVlMC00N2EzYjI0NGJiYmMiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.lIManLBBDvZDN_AsCuCu3RcKphUNMFGrLa0SgzfGiek
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03b3c93f5caaf3f59c2353b01de7b5e32"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/mandates/a4ed0873-3c7f-11e7-b26a-000000000000/bank-account"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1/bank-accounts"
            },
            "https://api.slimpay.net/alps#get-mandate" : {
              "href" : "https://api-sandbox.slimpay.net/mandates/a4ed0873-3c7f-11e7-b26a-000000000000"
            }
          },
          "id" : "a36be6b2-3c7f-11e7-b26a-000000000000",
          "bic" : "SLMPFRP1XXX",
          "iban" : "FR7616348000019212905486870",
          "institutionName" : "SLIMPAY"
        }
  recorded_at: Fri, 19 May 2017 11:17:36 GMT
recorded_with: VCR 3.0.3
