---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzMxLCJqdGkiOiI0YjBhOTU5NC05MDI2LTQzZjktOGNhOC1kYWNmNGRmYjg0NGQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.tZd5DlFfymIGtCIXkpGqn9pm5emoRSz6i8n9g-nNmNk",
          "token_type" : "bearer",
          "expires_in" : 999,
          "scope" : "api",
          "jti" : "4b0a9594-9026-43f9-8ca8-dacf4dfb844d"
        }
  recorded_at: Fri, 19 May 2017 07:41:55 GMT
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzMxLCJqdGkiOiI0YjBhOTU5NC05MDI2LTQzZjktOGNhOC1kYWNmNGRmYjg0NGQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.tZd5DlFfymIGtCIXkpGqn9pm5emoRSz6i8n9g-nNmNk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03236d64c4bd2f7baf4c43a327251afbb"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1"
            },
            "https://api.slimpay.net/alps#post-token" : {
              "href" : "https://api-sandbox.slimpay.net/oauth/token"
            },
            "https://api.slimpay.net/alps#create-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders"
            },
            "https://api.slimpay.net/alps#get-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,reference}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-order-by-id" : {
              "href" : "https://api-sandbox.slimpay.net/orders/{id}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
              "templated" : true
            },
            "h[...]
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/orders
    body:
      encoding: UTF-8
      string: '{"creditor":{"reference":"democreditor"},"subscriber":{"reference":"42"},"locale":"fr","paymentScheme":"SEPA.DIRECT_DEBIT.CORE","started":true,"items":[{"type":"signMandate","mandate":{"signatory":{"billingAddress":{"city":"Donaldville","country":"FR","postalCode":"66666","street1":"3
        rue du Pain","street2":null},"email":"jean@valjean.com","familyName":"Valjean","givenName":"","honorificPrefix":"Mr","telephone":"+33600000000"}}}]}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzMxLCJqdGkiOiI0YjBhOTU5NC05MDI2LTQzZjktOGNhOC1kYWNmNGRmYjg0NGQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.tZd5DlFfymIGtCIXkpGqn9pm5emoRSz6i8n9g-nNmNk
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 123,
          "message" : "Invalid givenName property: invalid value "
        }
  recorded_at: Fri, 19 May 2017 07:41:59 GMT
recorded_with: VCR 3.0.3
