---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzI0LCJqdGkiOiI1MDM3ZjM5ZS02NWU3LTQ2MGItOGU4NC00ZGYwMjViZmZlYmQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.c7LEUuunqD3g0DwbfLMrJAMKHkl9TNoLQWKB9YWxIwM",
          "token_type" : "bearer",
          "expires_in" : 998,
          "scope" : "api",
          "jti" : "5037f39e-65e7-460b-8e84-4df025bffebd"
        }
  recorded_at: Fri, 19 May 2017 07:41:48 GMT
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzI0LCJqdGkiOiI1MDM3ZjM5ZS02NWU3LTQ2MGItOGU4NC00ZGYwMjViZmZlYmQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.c7LEUuunqD3g0DwbfLMrJAMKHkl9TNoLQWKB9YWxIwM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03236d64c4bd2f7baf4c43a327251afbb"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1"
            },
            "https://api.slimpay.net/alps#post-token" : {
              "href" : "https://api-sandbox.slimpay.net/oauth/token"
            },
            "https://api.slimpay.net/alps#create-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders"
            },
            "https://api.slimpay.net/alps#get-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,reference}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-order-by-id" : {
              "href" : "https://api-sandbox.slimpay.net/orders/{id}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
              "templated" : true
            },
            "h[...]
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/orders
    body:
      encoding: UTF-8
      string: '{"creditor":{"reference":"democreditor"},"subscriber":{"reference":"42"},"locale":"fr","paymentScheme":"SEPA.DIRECT_DEBIT.CORE","started":true,"items":[{"type":"signMandate","mandate":{"signatory":{"billingAddress":{"city":"Donaldville","country":"FR","postalCode":"66666","street1":"3
        rue du Pain","street2":null},"email":"jean@valjean.com","familyName":"Valjean","givenName":"Jean","honorificPrefix":"Mr","telephone":"+33600000000"}}}]}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzI0LCJqdGkiOiI1MDM3ZjM5ZS02NWU3LTQ2MGItOGU4NC00ZGYwMjViZmZlYmQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.c7LEUuunqD3g0DwbfLMrJAMKHkl9TNoLQWKB9YWxIwM
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Location:
      - https://api-sandbox.slimpay.net/orders/a9b288c0-3c66-11e7-9800-000000000000
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/orders/a9b288c0-3c66-11e7-9800-000000000000"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1/orders"
     [...]
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/creditors/democreditor/orders/a9b288c0-3c66-11e7-9800-000000000000/extended-user-approval?mode=iframeembedded
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTgwNzI0LCJqdGkiOiI1MDM3ZjM5ZS02NWU3LTQ2MGItOGU4NC00ZGYwMjViZmZlYmQiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.c7LEUuunqD3g0DwbfLMrJAMKHkl9TNoLQWKB9YWxIwM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"0034b41ca30f723f14dc5ce902f64ff4f"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/creditors/democreditor/orders/a9b288c0-3c66-11e7-9800-000000000000/extended-user-approval?mode=iframeembedded"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1/user-approvals"
            }
          },
          "mode" : "iframeembedded",
          "content" : "PGlmcmFtZSBzcmM9Imh0dHBzOi8vc2xpbXBheS5uZXQvY2hlY2tvdXQvdXNlckFwcHJvdmFsP2FjY2Vzc0NvZGU9c3A3WWg2cTIxUFhhQjlGcXg3bjlpaU5kT0pBWDFvYjBCelBIbmY1aGlSQzEzQ1RwNERDd1BwV3h5ZjhYdFEmYW1wO21vZGU9aWZyYW1lX2VtYmVkZGVkIiBzdHlsZT0id2lkdGg6IDEwMCU7IGhlaWdodDogMTAwJTsgbWluLWhlaWdodDogMzIwcHg7IGJvcmRlcjogbm9uZTsiPjwvaWZyYW1lPg=="
        }
  recorded_at: Fri, 19 May 2017 07:41:54 GMT
recorded_with: VCR 3.0.3
