---
http_interactions:
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic ZGVtb2NyZWRpdG9yMDE6ZGVtb3NlY3JldDAx
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTk1OTkzLCJqdGkiOiJmZWNiYjI1Zi02NDA1LTQ5MWYtODhlMi1mNjYyYzc0MDlmNTUiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.wAEjo66aw_GSJGyNzUeG7P8BMZvsDFetmIWGRwTbaps",
          "token_type" : "bearer",
          "expires_in" : 998,
          "scope" : "api",
          "jti" : "fecbb25f-6405-491f-88e2-f662c7409f55"
        }
  recorded_at: Fri, 19 May 2017 11:56:17 GMT
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTk1OTkzLCJqdGkiOiJmZWNiYjI1Zi02NDA1LTQ5MWYtODhlMi1mNjYyYzc0MDlmNTUiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.wAEjo66aw_GSJGyNzUeG7P8BMZvsDFetmIWGRwTbaps
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"03236d64c4bd2f7baf4c43a327251afbb"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1"
            },
            "https://api.slimpay.net/alps#post-token" : {
              "href" : "https://api-sandbox.slimpay.net/oauth/token"
            },
            "https://api.slimpay.net/alps#create-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders"
            },
            "https://api.slimpay.net/alps#get-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,reference}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-order-by-id" : {
              "href" : "https://api-sandbox.slimpay.net/orders/{id}",
              "templated" : true
            },
            "https://api.slimpay.net/alps#search-orders" : {
              "href" : "https://api-sandbox.slimpay.net/orders{?creditorReference,entityReference,subscriberReference,state,dateCreatedBefore,dateCreatedAfter,page,size}",
              "templated" : true
            },
            "h[...]
- request:
    method: post
    uri: https://api-sandbox.slimpay.net/orders
    body:
      encoding: UTF-8
      string: '{"creditor":{"reference":"democreditor"},"subscriber":{"reference":"42"},"locale":"fr","paymentScheme":"SEPA.DIRECT_DEBIT.CORE","started":true,"items":[{"type":"signMandate","mandate":{"signatory":{"billingAddress":{"city":"Donaldville","country":"FR","postalCode":"66666","street1":"3
        rue du Pain","street2":null},"email":"jean@valjean.com","familyName":"Valjean","givenName":"Jean","honorificPrefix":"Mr","telephone":"+33600000000"}}}]}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTk1OTkzLCJqdGkiOiJmZWNiYjI1Zi02NDA1LTQ5MWYtODhlMi1mNjYyYzc0MDlmNTUiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.wAEjo66aw_GSJGyNzUeG7P8BMZvsDFetmIWGRwTbaps
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Location:
      - https://api-sandbox.slimpay.net/orders/37663cf1-3c8a-11e7-9800-000000000000
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/orders/37663cf1-3c8a-11e7-9800-000000000000"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1/orders"
     [...]
- request:
    method: get
    uri: https://api-sandbox.slimpay.net/creditors/democreditor/orders/37663cf1-3c8a-11e7-9800-000000000000/extended-user-approval?mode=iframepopin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJhcGkiXSwiZXhwIjoxNDk1MTk1OTkzLCJqdGkiOiJmZWNiYjI1Zi02NDA1LTQ5MWYtODhlMi1mNjYyYzc0MDlmNTUiLCJjbGllbnRfaWQiOiJkZW1vY3JlZGl0b3IwMSJ9.wAEjo66aw_GSJGyNzUeG7P8BMZvsDFetmIWGRwTbaps
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:preprod:${rest.server.port}
      Etag:
      - '"0a469c3dfded7a6c31273f950554143e7"'
      Content-Type:
      - application/hal+json; profile="https://api.slimpay.net/alps/v1";charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "_links" : {
            "self" : {
              "href" : "https://api-sandbox.slimpay.net/creditors/democreditor/orders/37663cf1-3c8a-11e7-9800-000000000000/extended-user-approval?mode=iframepopin"
            },
            "profile" : {
              "href" : "https://api-sandbox.slimpay.net/alps/v1/user-approvals"
            }
          },
          "mode" : "iframepopin",
          "content" : "PGlmcmFtZSBzcmM9Imh0dHBzOi8vc2xpbXBheS5uZXQvY2hlY2tvdXQvdXNlckFwcHJvdmFsP2FjY2Vzc0NvZGU9c3BYdjRSMVd6bFFQb0hJQ2VudURnak5mRjFFREsxSk9wTDRnRW9rcTR4NHVMYmxPY1JidmRQTXZJV21wUlEmYW1wO21vZGU9aWZyYW1lX3BvcGluIiBzdHlsZT0iei1pbmRleDogMTY3NzcyNzE7IHBvc2l0aW9uOiBmaXhlZDsgdG9wOiAwOyBsZWZ0OiAwOyB3aWR0aDogMTAwJTsgaGVpZ2h0OiAxMDAlOyBib3JkZXI6IG5vbmU7Ij48L2lmcmFtZT4K"
        }
  recorded_at: Fri, 19 May 2017 11:56:23 GMT
recorded_with: VCR 3.0.3
